/* Resets default styles for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'IBM Plex Mono'; /* The name you'll use in CSS */
    src: url('Fonts/IBMPlexMono-Regular.woff2') format('woff2'),
         url('Fonts/IBMPlexMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

/* Body styling */
body {
    font-family: "";
    line-height: 1.6;
    background: #000000;
    color: #ffffff;
    padding: 20px;
}

/* Header styling */
header {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Styling for navigation ls inside header */
header nav ul li {
    display: inline;
    margin: 0 10px;
}

/* Styling for the links in navigation */
header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Styling for each section of page */
section {
    margin: 20px 0;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
}

/* Footer styling */
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background: #333;
    color: #fff;
}

/* Responsive design - adjust navigation for small screens */
@media (max-width: 600px) {
    header nav ul li {
        display: block;
        margin: 10px 0;
    }
}